html, body {
    background:url('bg-export.png');
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: auto;
}

.container {
    background-color: white;
}