html, body {
    background:url('./images/bg-export.png');
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: auto;
    height: 100% !important;
}

img {
    max-width: 100%;
}

.container {
    background-color: white;
}

#page-content {
  flex: 1 0 auto !important;
}

#sticky-footer {
  flex-shrink: 0 !important;
}